

*{
  box-sizing: border-box;
  padding:0;
  margin:0;
  
background: #fff9e2;

}
.app{
  display: grid;
  grid-template-rows: 150px auto;

}
.app_main{
  display:flex;
  justify-content: space-around;
  padding: 20px 18px;
 
 ;
}
.todotitle{
 margin:10px auto ;
background: #2db01c;
}